@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
	--primary-color: #4a148c;
	--secondary-color: #8e24aa;
	--primary-white: #fafafa;
	--primary-red: #d50000;
	--secondary-red: #b71c1c;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
.App {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	background: var(--primary-white);
}

/* navbar */
.brand-logo {
	margin-left: 10px;
}

/* main content */
.home-layout {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* footer */

.custom-footer {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.custom-footer p {
	text-align: center;
}

.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 10vh;
}

/* margins / padding */

.my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* outros */

.bg-primary {
	background-color: var(--primary-color);
	color: var(--primary-white);
}

.flex-xy-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-container {
	width: 50%;
}

.toast-error {
	background-color: var(--secondary-red);
	color: var(--primary-white);
}

.toast-success {
	background-color: var(--primary-color);
	color: var(--primary-white);
}

/* Customização do Materialize */
/* inputs Materialize */
.input-field input:focus + label {
	color: var(--secondary-color) !important;
}

.row .input-field input:focus {
	border-bottom: 1px solid var(--secondary-color) !important;
	box-shadow: 0 1px 0 0 var(--secondary-color) !important;
}

.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
	border-bottom: 1px solid var(--secondary-color);
	box-shadow: 0 1px 0 0 var(--secondary-color) c;
}

.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
	border-bottom: 1px solid var(--primary-red);
	box-shadow: 0 1px 0 0 var(--primary-red);
}

@media (max-width: 700px) {
	.custom-container {
		width: 80%;
	}
}