@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
.App {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	background: #fafafa;
}

/* navbar */
.brand-logo {
	margin-left: 10px;
}

/* main content */
.home-layout {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* footer */

.custom-footer {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.custom-footer p {
	text-align: center;
}

.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 10vh;
}

/* outros */

.flex-xy-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-container {
	width: 50%;
}

/* Customização do Materialize */
/* inputs Materialize */
.input-field input:focus + label {
	color: #8e24aa !important;
}

.row .input-field input:focus {
	border-bottom: 1px solid #8e24aa !important;
	box-shadow: 0 1px 0 0 #8e24aa !important;
}

.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
	border-bottom: 1px solid #4a148c;
	box-shadow: 0 1px 0 0 #4a148c;
}

.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
	border-bottom: 1px solid #d50000;
	box-shadow: 0 1px 0 0 #d50000;
}

@media (max-width: 700px) {
	.custom-container {
		width: 80%;
	}
}